.main-auth {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;

}

.auth-model {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 20px;

    background-color: #FFFFFF;
    //background-image: url('../../UI/icons/authBack.svg');
    //background-repeat: round;

    box-shadow: 0 30px 40px -20px #fda155, 0 -30px 40px -20px #43cbfe;
    border-radius: 16px;

    width: 400px;

}

.logoAuth img{
    width: 150px;
    height: 120px;
}

.auth-data {

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    padding: 0px;
    gap: 12px;

}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.password {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.auth-data input {
    width: 100%;
}

.login-case {
    width: 100%
}

.password-case{
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    padding: 0px;
    gap: 20px;
}

.auth-button{

    

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    
    letter-spacing: 0.24px;

    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    flex-direction: column;

    
    
}


.errorInputText{
    color: #E93E3E;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.25px;
    text-align: center;
}

.errorInput{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    
    
    padding: 12px 20px;
    gap: 8px;

    background: #FFFFFF;

    border: 1px solid #E93E3E;
    border-radius: 12px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    
    color: #373745;
}

.errorInput:focus{
    outline: none;
    border-color: #E93E3E;
}