@media (max-width: 425px) { 

    

    .registr-model {
        height: 100%;
        width: 100%;
        padding: 40px 20px;
        border-radius: 0px;
        justify-content: center;
        box-shadow: none;
        

        form {
            width: 100%;
        }
        
        
    }

    .input-form {
        width: 100%;
    }
}