.main-registr {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;

}

.registr-model{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 20px;

    background-color: #FFFFFF;
    //background-image: url('../../UI/icons/authBack.svg');
    //background-repeat: round;

    box-shadow: 0 30px 40px -20px #fda155, 0 -30px 40px -20px #43cbfe;
    border-radius: 16px;

    width: 400px;

}

.registr-data {

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    padding: 0px;
    gap: 12px;

}

.registr-data p{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.24px;
}

.inputCase{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.inputCase input{
    width: 100%;
}

.age-gender-set {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.age-set {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.age-set input {
    width: 80px;
}

.gender-set {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

}

.gender > label > input{ 
    display: none;
}
.gender > label > input + img{ 
    width: 50px;
    cursor:pointer;
    border: 1px solid #DCDCDF;
    border-radius: 1000px;
    transition: all .2s ease-in-out;
    padding: 8px;
    margin-right: 8px;
    
}

.gender > label > input + img:hover{ 
    
    border: 1px solid #0abbfe;
}
.gender > label > input:checked + img{
    background: #43cbfe;
}


.registr-model form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    padding: 0px;
    gap: 20px;
}

.registr-button{

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    
    letter-spacing: 0.24px;

    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    flex-direction: column;

}