@media (max-width: 1100px) { 
    
    .rating-panel {
        padding: 20px;
        gap: 0px;
        width: 907px;
    }
    .list-rating {
        margin: 16px 0 0;
    }
    .player-rating {
        padding: 8px;
        li {
            font-size: 14px;
        }
    }
}

@media (max-width: 910px) { 

    .rating-panel {
        width: 641px;
    }

    .name-rating{
        width: 220px;
    }

    .player-rating {
        padding: 10px;
        
    }
}

@media (max-width: 660px) { 

    .rating-panel {
        width: auto;
    }
    
    .main-rating {
        padding: 0px 0px;
    }
    .rating-panel {
        padding: 32px 12px;
        width: 100%;
        border-radius: 0px;
    }

    

    .player-rating{
        //text-align: center;
    }

    .coutGames-rating{
        width: 110px;
    }

    .coutWin-rating{
        width: 90px;
    }

    .coutLos-rating{
        width: 130px;
    }

    .procWin-rating{
        width: 90px;
    }
}

@media (max-width: 520px) { 
    .list-rating {
        overflow-x: scroll;
        ul {
            min-width: 100%;
            width: 487px;
        }
    }

    .rating-header{
        display: flex;
        flex-direction: column;
        gap: 5px;
        h1 {
            align-self: self-start;
        }
    }

    .input-case{
        align-self: flex-end;
    }
}