.main-rating {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}

.rating-panel {
    background: #FFFFFF;
    box-shadow: 0 30px 40px -20px #fda155, 0 -30px 40px -20px #5ed4ff;
    border-radius: 40px;
    padding: 32px;
    margin-top: 144px;
    margin-bottom: 144px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 1100px;
}

.rating-header{
    display: flex;
    justify-content: space-between;
    
}

.input-case{
    display: flex;
    gap: 10px;
    input{
        padding: 0px 20px
    }
}



.player-rating {
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px #EEEFF5;
    word-break: break-word;
    padding: 12px 8px;
    gap: 10px;
    li {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.24px;
        color: #373745
    }
    .coutWin-rating {
        color: #69B849;
    }
    .coutLos-rating {
        color: #E93E3E;
    }
}

.player-rating-up {
    li, .coutWin-rating, .coutLos-rating {
        font-weight: 500;
        color: #373745;
        
    }
}

.name-rating {
    width: 440px;
    box-shadow: inset -1px 0px 0px #EEEFF5
}

.coutGames-rating, .coutWin-rating, .coutLos-rating {
    width: 108px;
    box-shadow: inset -1px 0px 0px #EEEFF5
}

.procWin-rating {
    width: 134px;
}