.myInput {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    
    
    padding: 12px 20px;
    gap: 8px;

    background: #FFFFFF;

    border: 1px solid #DCDCDF;
    border-radius: 12px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    
    color: #373745;
    
}

.myInput:hover {
    border-color: #0abbfe
}

.myInput:focus {
    outline: none;
    border-color:#43cbfe
}


