.editPlayer-main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #373745;
        letter-spacing: 0.24px;
        margin: 0;
    }
    
    h1{
        align-self: center;
    }

    button{
        width: 100%;
    }
}

.exit-panel{
    align-self: flex-end;
    width: 14px;
}

.fio-set{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.age-set {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.age-set input {
    width: 80px;
}


.age-gender-set {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.gender-set {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

}

.gender > label > input{ 
    display: none;
}
.gender > label > input + img{ 
    width: 50px;
    cursor:pointer;
    border: 1px solid #DCDCDF;
    border-radius: 1000px;
    transition: all .2s ease-in-out;
    padding: 8px;
    margin-right: 8px;
    
}

.gender > label > input + img:hover{ 
    
    border: 1px solid #0abbfe;
}
.gender > label > input:checked + img{
    background: #43cbfe;
}