.main-gameField {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.gameField-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 80px;
}

.no, .chat {
    width: 350px;
}

.game-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.board-panel {
    //background: #dddddd;
    border: 1px solid;
    border-color: #dbdbdb;
    //padding: 16px;
    //border-radius: 40px;
    box-shadow: 0 30px 40px -20px #fda155, 0 -30px 40px -20px #5ed4ff;
}

.board{
    //width: 584px;
    width: 560px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    //gap: 4px;
}

.board .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1px solid;
    border-color: #dbdbdb;
    background-image: url('../../UI/icons/plit.svg');

    width: 80px;
    height: 80px;

    //background: white;
    //border-radius: 200px;
}

.board .winSquareO{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1px solid;
    border-color: rgb(245, 124, 124);
    background-image: url('../../UI/icons/plit.svg');
    

    width: 80px;
    height: 80px;
    
}


.board .winSquareX{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1px solid;
    border-color: rgb(107, 220, 248);
    background-image: url('../../UI/icons/plit.svg');
    

    width: 80px;
    height: 80px;
}

