@media (max-width: 1260px) { 
    .board{
        
        width: 490px;
    }
    
    .board .cell{
        width: 70px;
        height: 70px;
    }
    
    .board .winSquareO{
    
        width: 70px;
        height: 70px;
        
    }
    
    
    .board .winSquareX{
    
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 1192px) { 
    .gameField-panel{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        height: 500px;
    }

    .emoji-chat-panel{
        display: flex;
        gap: 10px;
    }
}

@media (max-width: 1024px) { 
    .gameField-panel{
        margin-top: 100px;
    }

    .timer{
        color: #373745
    }

    .game-panel{
        background-color: white;
        padding: 5px;
        border-radius: 16px
    }

    .emoji-chat-panel{
        position: fixed;
        bottom: 0;
    }
}

@media (max-width: 492px) { 
    .board{
        
        width: 350px;
    }
    
    .board .cell{
        width: 50px;
        height: 50px;
    }
    
    .board .winSquareO{
    
        width: 50px;
        height: 50px;
        
    }
    
    
    .board .winSquareX{
    
        width: 50px;
        height: 50px;
    }
}