@media (max-width: 1024px) { 
    .player-emoji-X{
        width: 300px;
    }

    .player-emoji-O{
        width: 300px;
    }
}

@media (max-width: 726px) { 
    .player-emoji-X{
        width: 250px;
    }

    .player-emoji-O{
        width: 250px;
    }
}

@media (max-width: 622px) { 
    .game-panel{
        font-size: 14px;
        gap: 5px;
    }

    .player-emoji-X{
        width: 150px;
    }

    .player-emoji-O{
        width: 150px;
        span{
            text-align: end;
        }
    }

    .sendEmoji-O{
        
    
        transform: translate(-50%, 50%);
        img{
            width: 60px;
        }
    }
    
    .sendEmoji-X{
        
        transform: translate(50%, 50%);
        img{
            width: 60px;
        }
    }
}

@media (max-width: 430px) { 
    .player-emoji-X{
        width: 120px;
    }

    .player-emoji-O{
        width: 120px;
    }
}