.game-panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    img {
        width: 30px;
    }
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745
}

.opac1{
    opacity: 1;
}

.opac2{
    opacity: 0;
}

.player-panel{
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.player-emoji-O{
    display: flex;
    width: 200px;
    justify-content: right
}

.player-emoji-X{
    display: flex;
    width: 200px;
    justify-content: left
}

.timer{
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
}


button {
    border-radius: 16px;
    background-color: transparent
}

.sendEmoji-O{
    position: absolute;

    transform: translate(-50%, 50%);
    img{
        width: 60px;
    }
}

.sendEmoji-X{
    position: absolute;
    transform: translate(50%, 50%);
    img{
        width: 60px;
    }
}