@mixin font($size, $weight, $lHeight, $lSpacing, $color) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lHeight;
    letter-spacing: $lSpacing;
    color: $color;
}

.main-listOfPlayers {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.listOfPlayers-panel {
    background: #FFFFFF;
    box-shadow: 0 30px 40px -20px #fda155, 0 -30px 40px -20px #5ed4ff;
    border-radius: 40px;
    padding: 32px;
    margin-top: 144px;
    margin-bottom: 144px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header-listOfPlayers{
    display: flex;
    justify-content: space-between;
    
}

.input-case{
    display: flex;
    gap: 10px;
    input{
        padding: 0px 20px
    }
}


.btnAdd-listPlayers {
    @include font(16px, 500, 24px, 0.24px, #FFFFFF);
    
    background: #60C2AA;
    border-radius: 12px;
    transition: all .2s ease-in-out;
    padding: 12px 20px;
    &:hover {
        background: #3BA189;
    }
}

.playerList {
    @include font(16px, 400, 24px, 0.24px, #373745);

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px #EEEFF5;
    word-break: break-word;
    padding: 12px 8px;
    gap: 10px;
}

.playerList-up {
    justify-content: flex-start;
    font-weight: 500;
    .gender-playerList {
        text-align: center;
    }
    .status-playerList {
        text-align: start;
        color: #373745;
        font-weight: 500;
        padding: 0;
    }
    li {
        &:last-child {
            width: 160px;
        }
    }
}

.name-playerList {
    width: 400px;
}

.age-playerList {
    width: 90px;
}

.gender-playerList {
    width: 46px;
    display: flex;
    justify-content: center;
}

.status-playerList {
    margin: 0 20px;
}

.status-playerList, .dateCreate-playerList, .dateEdit-playerList {
    width: 160px;
}

.status-playerList {
    @include font(16px, 400, 24px, 0.24px, #FFFFFF);

    border-radius: 6px;
    text-align: center;
    width: 136px;
    padding: 4px 12px;
}

.statAct {
    background: #A8D37F;
}

.statNoAct {
    background: #EC7777;
}

.buttons-playerList{
    display: flex;
    align-items: center;
    img{
        width: 40px;
    }
    button{
        padding: 1px;
        width: 100%;
        background: none;
    }
    
}