@media (max-width: 1260px) { 
    .name-playerList {
        width: 180px;
        margin-right: 20px;
    }
    .dateCreate-playerList, .dateEdit-playerList {
        width: 120px;
    }

    .status-playerList{
        width: 136px;
    }

    .playerList{
        li {
            font-size: 14px;
        }
    }
}

@media (max-width: 974px) { 
    .main-listOfPlayers {
        padding: 0px 0px;
    }
    .listOfPlayers-panel {
        border-radius: 0px;
        width: 100%;
        padding: 32px 12px 20px;
    }

    .list-listPlayers {
        overflow-x: scroll;
        
        ul {
            
            min-width: 100%;
            width: 900px; /* !!! */
        }
        
    }

    .name-playerList {
        min-width: 180px;
        margin-right: 15px;
    }
    .age-playerList {
        min-width: 70px;
    }
    .gender-playerList {
        min-width: 46px;
    }
    .dateCreate-playerList, .dateEdit-playerList {
        min-width: 120px;
    }
    .status-playerList {
        min-width: 136px;
        margin: 0 15px;
    }
}

@media (max-width: 510px) { 
    
    .header-listOfPlayers{
        display: flex;
        flex-direction: column;
        gap: 5px;
        h1 {
            align-self: self-start;
        }
    }
    .input-case{
        align-self: flex-end;
    }
}