.chat-main{
    display: flex;
    flex-direction: row;
    padding: 0px;
    height: 482px;
    box-shadow: 0 30px 40px -20px #e7e7e7, 0 -30px 40px -20px #e7e7e7;
    border-radius: 16px 0px 0px 16px;
    background-color: #ffffff;
}

.chat-container{
    
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    //gap: 8px;
    gap: 0px;
    align-self: flex-end;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.24px;

    color: #373745;
    z-index: 0;
    justify-content: space-between;

}


.msgs-panel {
    
    display: flex;
    flex-direction: column-reverse;
    height: 420px;
    padding: 5px 0px 0px 0px;
    //
    //--mask-image-content: linear-gradient(to bottom, transparent 37px, black 100px, black calc(100% - 20px), transparent 99.5%);
    //mask-repeat: no-repeat, no-repeat;
    //mask-image: var(--mask-image-content);
    //-webkit-mask-image: var(--mask-image-content);
    //
}

.msgs-container {
    
    //padding-top: 80px;
    display: flex;
    flex-direction: column;
    
    gap: 12px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.msgs-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}



.msg-container {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;

    background: #FFFFFF;
    

    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
}

.msg-container.me {
    align-self: flex-end;
    border-radius: 16px 16px 0px 16px;
    width: 290px;
    
}

.msg-container.other {
    align-self: flex-start;
    border-radius: 16px 16px 16px 0px;
    width: 290px;
}

.chat-container .msg-header{

    display: flex;
    justify-content: space-between;
    padding: 0px;
    gap: 10px;

    width: 100%;

}


.chat-container .time{
    color: #898993;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    
}

.subject-name {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    
    letter-spacing: 0.25px;
}

.subject-name.x {
    color: #5ed4ff;
}
.subject-name.zero {
    color: #fda155;
}

.msg-interactive-elements {
    

    display: flex;
    flex-direction: row;
    padding: 0px 0px 5px 0px;
    align-items: center
}

.msg-interactive-elements input {
    
    width: 100%;
}


.msg-interactive-elements button {
    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: none;
    width: 30px;
    height: 30px;


    img{
        width: 30px;
        height: 30px;
    }
}

.msg-interactive-elements button:hover {
    background: none;
}

.noMessage{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.24px;
    justify-content: center;
    color: #898993;
}

.view-chat{
    display: flex;
    height: 100%;
    width: 30px;
    background-color: #ffffff;
    border-radius: 16px 0px 0px 16px;
    img{
        
        width: 30px;
    }
    
}