@media (max-width: 1192px) { 
    %span-style {
        display: block;
        width: 20px;
        height: 2.5px;
        background: #373745;
        margin-bottom: 4.5px;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .disable-chat{
        display: block;
        transform-origin: 16px 11px;
        outline: 0;
        border: 0;
        background: none;
        
        span {
            @extend %span-style;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    .active-chat {
        
        background: none;

        span {
            @extend %span-style;
            border-radius: 20px;
        }

        span:nth-of-type(1) {
            transform: rotate(45deg) translate(8.5px, 6px);
            width: 20px;
        }

        span:nth-of-type(2) {
            opacity: 0;
            pointer-events: none;
        }

        span:nth-of-type(3) {
            transform: rotate(-45deg) translate(4px, -2px);
            width: 20px;
        }
    }

    .chat-container {
        position: absolute;
        top: 0px;
        //left: 0px;
        right: 0px;
        display: block;
        padding: 5px;
        transform: translateY(172px);
        transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        background: #FFFFFF;
        //box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
        border-radius: 16px;
        
        height: 470px;
    }

    .chat-main{
        width: 320px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        //position: fixed;
        //width: 80%;
        //right: 0;
        //bottom: 0;
        
    }

    .btn-chat{
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .msgs-panel{
        height: 410px;
    }
}

@media (max-width: 1024px) { 

    .chat-main{
        width: 250px;
    }
}

@media (max-width: 512px) { 
    .chat-container{
        right: -55px;
    }
    .chat-main{
        width: 100px;
    }
}