.myBtn {
    padding: 12px 20px;
    gap: 8px;
    color:white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;

    background: #43cbfe;
    border-radius: 12px;

}

.myBtn:hover {
    background: #0abbfe
}


.myBtn:disabled {
    background: #86e0fe;
    opacity: 0.5;
    cursor: default;
}


