.emotions-main {
    
    display: flex;
    flex-direction: row;
    padding: 0px;
    height: 482px;
    box-shadow: 0 30px 40px -20px #e7e7e7, 0 -30px 40px -20px #e7e7e7;
    border-radius: 0px 16px 16px 0px;
    background-color: #ffffff;

}

.emotions-container{
    width: 320px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
    height: 100%;
    ;
    h1{
        align-self: center;
    }
    
}

.emoji-panel{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
    align-items: center;
    img {
        width: 120px;
    }
}

.emoji-row{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.box{
    
    
}


.view{
    display: flex;
    height: 100%;
    width: 30px;
    background-color: #ffffff;
    border-radius: 0px 16px 16px 0px;
    img{
        width: 30px;
    }
    
}


