.field-modal{
    
    //width: 560px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.exit{
    img{
        cursor: pointer;
    }
}

.field{
    width: 560px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.field .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1px solid;
    border-color: #dbdbdb;
    background-image: url('../../../UI/icons/plit.svg');

    width: 80px;
    height: 80px;
}


.field .winSquareO{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1px solid;
    border-color: rgb(245, 124, 124);
    background-image: url('../../../UI/icons/plit.svg');
    

    width: 80px;
    height: 80px;
    
}

.exit{
    display: flex;
    justify-content: flex-end;
    img {
        width: 14px;
        height: 14px;
    }   
    
}


.field .winSquareX{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1px solid;
    border-color: rgb(107, 220, 248);
    background-image: url('../../../UI/icons/plit.svg');
    

    width: 80px;
    height: 80px;
}