@media (max-width: 630px) { 

    .field{
        width: 420px;
    }


    .field .cell{

        width: 60px;
        height: 60px;
    }

    .field .winSquareO{

        width: 60px;
        height: 60px;
    }


    .field .winSquareX{
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 490px) { 

    .field{
        width: 280px;
    }

    .field .cell{

        width: 40px;
        height: 40px;
    }

    .field .winSquareO{

        width: 40px;
        height: 40px;
    }


    .field .winSquareX{
        width: 40px;
        height: 40px;
    }

    .exit{
        img{
            width: 10px;
            height: 10px;
        }
    }
}

@media (max-width: 340px) { 

    .field{
        width: 245px;
    }

    .field .cell{

        width: 35px;
        height: 35px;
    }

    .field .winSquareO{

        width: 35px;
        height: 35px;
    }


    .field .winSquareX{
        width: 35px;
        height: 35px;
    }

    .exit{
        img{
            width: 9px;
            height: 9px;
        }
    }
}