.main-history {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.history-panel {
    background: #FFFFFF;
    box-shadow: 0 30px 40px -20px #fda155, 0 -30px 40px -20px #5ed4ff;
    border-radius: 40px;
    padding: 32px;

    display: flex;
    flex-direction: column;
    margin-top: 144px;
    margin-bottom: 144px;
    gap: 24px;
    width: 1100px;
}

.history-header{
    display: flex;
    justify-content: space-between;
}

.date-case{
    display: flex;
    gap: 10px;
    div{
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.24px;
        color: #373745;
    }
}

.datePicker{
    
    border: 1px solid #5ed4ff;
    border-radius: 12px;
    padding: 0px 20px;
    font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.24px;
        color: #373745;

    
    
    
    
}

.list-history{
    display: flex;
    flex-direction: column;
    gap: 1px;
}


.players-history {
    display: flex;
    box-shadow: inset 0px -1px 0px #ffffff;
    padding: 12px 8px;
    gap: 10px;
    align-items: center;
    li {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.24px;
        color: #373745;
    }
}

.players-history-up {
    li {
        font-weight: 500;
    }
    box-shadow:none;
    padding: 12px 11px;
}

.info-players-game {
    display: flex;
    align-items: center;
    word-break: break-word;
    gap: 10px;
    width: 550px;
    p {
        display: flex;
        align-items: center;
        width: 250px;
        justify-content: center;
        
    }
    p:first-child {
        color: #fd694f;
    }

    p:last-child {
        color: #36c9ff;
    }
    span {
        img {
            width: auto;
            height: auto;
        }
    }
}

.back-green{
    //background: #c3e4a4;
    border: solid;
    border-radius: 10px;
    border-color: #c3e4a4;
}

.back-red {
    //background:  #e99191;
    border: solid;
    border-radius: 10px;
    border-color: #e99191;
}

.date-game {
    width: 160px;
}

.time-game {
    width: 140px;
}


.game-field button{
    width: 120px;
    background-color: transparent;
    color: #373745;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    padding: 0px;
}

.game-field button:hover{
    background-color: transparent;
}