@media (max-width: 1100px) { 
    
    .history-panel {
        padding: 20px;
        gap: 0px;
        width: 907px;
    }
    .list-history {
        margin: 16px 0 0;
        
        
    }
    .players-history {
        padding: 8px;
        li {
            font-size: 14px;
        }
    }
    .info-players-game {
        width: 430px;
        span { 
            margin: 0 17px; 
            img{
                width: 23px;
                height: 28px;
            }
        }
    }
    .date-game {
        width: 115px;
        margin: 0 20px;
    }
    .time-game { width: 120px; }

    .game-field{
        width: 110px;
        button{
            width: 50px;
            
        }
        text-align: center;
    }
}

@media (max-width: 910px) { 

    .history-panel {
        width: 641px;
    }

    .info-players-game {
        width: 180px;
        flex-direction: column;
        //align-items: flex-start;
        span{
            display: none;
        }
        p{
            width: 180px;
        }
    }
    .players-history {
        padding: 10px;
        
    }

    .info-players-game {
        min-width: 180px;
        
    }
    .date-game {
        min-width: 80px;
    }
    .time-game {
        width: 110px;
    }

    .game-field{
        width: 100px;
        button{
            width: 50px;
            
        }
        text-align: center;
    }

}

@media (max-width: 660px) { 

    .history-panel {
        width: auto;
    }

    .history-header{
        display: flex;
        flex-direction: column;
        gap: 5px;
        h1 {
            align-self: self-start;
        }
        div{
            align-self: flex-end;
        }
    }


    .players-history{
        display: flex;
        justify-content: space-between;
    }
    
    .main-history {
        padding: 0px 0px;
    }
    .history-panel {
        padding: 32px 12px;
        width: 100%;
        border-radius: 0px;
        li {
            text-align: center;
        }
    }
    .info-players-game {
        min-width: 180px;
        
    }
    .date-game {
        min-width: 80px;
        margin: 0 16px;
    }
    .time-game {
        width: 80px;
    }

    .game-field{
        width: 90px;
    }
}

@media (max-width: 510px) { 
    .list-history {
        overflow-x: scroll;
        ul {
            min-width: 100%;
            width: 487px; /* !!! */
            li {
                //width: auto;
            }
        }
    }
}

@media (max-width: 442px) { 
    .date-case{
        display: flex;
        flex-direction: column;
    }
}