@media (max-width: 1100px) { 
    
    
    .activePlayers-container {
        padding: 20px;
        gap: 0px;
        width: 907px;
    }

    .name-active{
        width: 320px;
    }

    .list-active {
        margin: 16px 0 0;
        
        li {
            font-size: 14px;
        }
    }

    .lastgame-active{
        width: 230px;
    }

    .btn-active {
        width: 120px;
    }

    .status-active{
        width: 140px;
    }

    .player-active{
        padding: 8px;
    }
    
}

@media (max-width: 910px) { 
    .activePlayers-container {
        width: 641px;
    }

    .name-active{
        width: 220px;
    }

    .lastgame-active{
        width: 140px;
    }

    .status-active{
        width: 110px;
    }

    .btn-active {
        width: 80px;
    }
}

@media (max-width: 660px) { 

    .activePlayers-container {
        padding: 32px 12px;
        width: 100%;
        border-radius: 0px;
    }

    .player-active-up{
        li:not(:first-child){
            text-align: center;
        }
        
    }

    .invite-active{
        width: 80px;
    }

    .player-active{
        display: flex;
        justify-content: space-between;
        li:not(:first-child){
            text-align: center;
        }
    }

    .name-active{
        width: 160px;
    }

    .lastgame-active{
        width: 110px;
    }

    .status-active{
        width: 100px;
    }
    

}

@media (max-width: 510px) { 
    .list-active {
        overflow-x: scroll;
        ul {
            min-width: 100%;
            width: 487px; /* !!! */
            li {
                //width: auto;
            }
        }
    }
    .activePlayers-header{
        display: flex;
        flex-direction: column;
        h1 {
            align-self: self-start;
        }
    }
    .activePlayers-header-container{
        align-self: flex-end;
    }
}
