.activePlayersTable {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.activePlayers-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 24px;

    background: #FFFFFF;

    width: 1100px;

    box-shadow: 0 30px 40px -20px #fda155, 0 -30px 40px -20px #5ed4ff;
    
    border-radius: 40px;
    margin-top: 144px;
    margin-bottom: 144px;
}

.activePlayers-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    align-self: stretch

}

.activePlayers-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    justify-content: space-between;
    align-self: stretch;

}



.activePlayers-header-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    background: #FFFFFF;

}

.activePlayers-header-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;

}

.list-active{
    width: 100%;
}

.btn-active {
    width: 170px;
    display: flex;
    justify-content: center;
}

.btn-active button{
    background-color: transparent;
    padding: 0px;
}
.btn-active button:hover{
    background-color: transparent;
}
.btn-active button:disabled{
    background-color: transparent;
}


.player-active {
    display: flex;
    box-shadow: inset 0px -1px 0px #ffffff;
    padding: 12px 8px;
    gap: 10px;
    align-items: center;
    li {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.24px;
        color: #373745;
    }
}


.player-active-up {
    li {
        font-weight: 500;
    }
    box-shadow:none
}

.name-active {
    width: 440px;
}

.lastgame-active{
    width: 230px;
}

.status-active{
    width: 150px;
}


.switch{
    display: flex;
    align-self: center;
}
.switch-input{
    height: 0;
    width: 0;
    visibility: hidden;
}
    
.switch-slider {
    cursor: pointer;
    text-indent: -9999px;
    width: 33px;
    height: 14px;
    background: #DCDCDF;
    display: block;
    border-radius: 100px;
    position: relative;
}
    
.switch-slider:after {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 0px;
    width: 20px;
    height: 20px;
    background: #F7F7F7;
    border: 1px solid rgba(137, 137, 147, 0.2);
    border-radius: 90px;
    transition: 0.3s;
}
    
.switch-input:checked + .switch-slider {
    background: #86e0fe;
}

.switch-input:checked + .switch-slider:after {
    left: calc(100% );
    transform: translateX(-100%);
    background: #0abbfe;
}



.p-free {
    background: #A8D37F;
    padding: 4px 12px;
    border-radius: 6px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}
.p-block {
    background: #EC7777;
    padding: 4px 12px;
    border-radius: 6px;
    width: 76px;
    text-align: center;
}
.p-play {
    background: #87CAE8;
    padding: 4px 12px;
    border-radius: 6px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}
.p-out {
    background: #EDEDED;
    padding: 4px 12px;
    border-radius: 6px;
    color: #373745;
    width: 76px;
    text-align: center;
}


