header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    gap: 10px;

    position: fixed;
    width: 80%;
    left: 0;
    top: 0;
    z-index: 10;
    height: 64px;


    background: #ffffff;
    box-shadow: 0px 2px 30px #43cbfe;
    border-radius: 0px 0px 16px 16px;
    white-space: nowrap;
    margin: 0px 10% 0px 10%;

}

.exit-header{
    text-align: end;
    width: 67px;
}

@media (max-width: 1100px) { 
    header {
        width: 100%;
        margin: 0px;
    }
}