.modal-container{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.modal-container img {
    width: 132px;
    height: 166px;
    align-self: center;
}

.name-win {
    color: #373745;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    word-break: break-word;
}

.btn-modalWin {
    display: flex;
    flex-direction: column;
    gap: 12px
}


.btn-goNewGame{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
}

.btn-goMenu {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
}