footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    gap: 10px;
    position: fixed;
    width: 80%;
    right: 0;
    bottom: 0;
    z-index: 10;
    min-height: 64px;

    background: #ffffff;
    box-shadow: 0px 2px 30px #fda155;
    
    border-radius: 16px 16px 0px 0px;
    white-space: nowrap;
    margin: 0px 10% 0px 10%;
}

.nav-panel {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    font-weight: 500;

}
.nav-item {
    letter-spacing: 0.24px;
    color: #373745;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 200px;
    padding: 8px 12px;
    transition: all .2s ease-in-out;
    &:hover {
        background: #ffc79a;
    }
}

.active {
    background: #fda155;
    color: #FFFFFF;
    &:hover {
        background: #fda155;
    }
}


.nav-item {
    text-decoration: none;
}